name: Vercel Production Deployment # Flujo de trabajo para desplegar a producci贸n en Vercel
run-name: ${{github.actor}} is deploying ${{github.repository}} to production  # Nombre personalizado al iniciarse
env: # Secrets asociados al proyecto
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
concurrency: # Evita que dos despliegues se ejecuten al mismo tiempo
  group: production
  cancel-in-progress: true
on: # Eventos que activan el workflow
  push: # Se activa con un push a la rama main
    branches:
      - main
jobs: # Acciones que se realizan al iniciar el workflow
  Deploy-Production: # Job para desplegar a producci贸n en Vercel
    runs-on: ubuntu-latest # Ejecutor del job
    steps: # Pasos dentro del job
      - uses: actions/checkout@v2 # Clona el repositorio
      - name: Install Vercel CLI
        run: npm install --global vercel@latest # Instala el CLI de Vercel para gestionar despliegues
      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }} # Obtiene la configuraci贸n del entorno de producci贸n
      - name: Build Project Artifacts
        run: vercel build --prod --token=${{ secrets.VERCEL_TOKEN }} # Construye el proyecto; si falla, el workflow se detiene
      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --prod --token=${{ secrets.VERCEL_TOKEN }} # Despliega los archivos ya construidos (prebuilt) para mayor eficiencia





